:root {
    --veryslightdark-highlight: rgba(0, 0, 0, 0.05);
    --slightdark-highlight: rgba(0, 0, 0, 0.25);
    --dark-highlight: rgba(0, 0, 0, 0.5);
    --verydark-highlight: rgba(0, 0, 0, 0.75);
    --veryslightlight-highlight: rgba(255, 255, 255, 0.05);
    --slightlight-highlight: rgba(255, 255, 255, 0.75);
    --light-highlight: rgba(255, 255, 255, 0.5);
    --verylight-highlight: rgba(255, 255, 255, 0.25);
}
.backgroundcolor-red { background-color: red !important; }
.backgroundcolor-blue { background-color: blue !important; }
.backgroundcolor-green { background-color: green !important; }
.backgroundcolor-cyan { background-color: cyan !important; }
.backgroundcolor-yellow { background-color: yellow !important; }
.backgroundcolor-orange { background-color: orange !important; }
.backgroundcolor-aqua { background-color: aqua !important; }
.backgroundcolor-purple { background-color: purple !important; }
.backgroundcolor-magenta { background-color: magenta !important; }
.backgroundcolor-violet { background-color: violet !important; }
.backgroundcolor-black { background-color: black !important; }
.backgroundcolor-white { background-color: white !important; }
.backgroundcolor-veryslightdark-highlight { background-color: var(--veryslightdark-highlight) !important; }
.backgroundcolor-slightdark-highlight { background-color: var(--slightdark-highlight) !important; }
.backgroundcolor-dark-highlight { background-color: var(--dark-highlight) !important; }
.backgroundcolor-verydark-highlight { background-color: var(--verydark-highlight) !important; }
.backgroundcolor-veryslightlight-highlight { background-color: var(--veryslightlight-highlight) !important; }
.backgroundcolor-slightlight-highlight { background-color: var(--slightlight-highlight) !important; }
.backgroundcolor-light-highlight { background-color: var(--light-highlight) !important; }
.backgroundcolor-verylight-highlight { background-color: var(--verylight-highlight) !important; }
.boxsizing-borderbox { -webkit-box-sizing: border-box !important; box-sizing: border-box !important; }
.textcolor-red { color: red !important; }
.textcolor-blue { color: blue !important; }
.textcolor-green { color: green !important; }
.textcolor-cyan { color: cyan !important; }
.textcolor-yellow { color: yellow !important; }
.textcolor-orange { color: orange !important; }
.textcolor-aqua { color: aqua !important; }
.textcolor-purple { color: purple !important; }
.textcolor-magenta { color: magenta !important; }
.textcolor-violet { color: violet !important; }
.textcolor-black { color: black !important; }
.textcolor-white { color: white !important; }
.cursor-default { cursor: default !important; }
.cursor-move { cursor: move !important; }
.cursor-pointer { cursor: pointer !important; }
.cursor-crosshair { cursor: crosshair !important; }
.cursor-notallowed { cursor: not-allowed !important; }
.cursor-help { cursor: help !important; }
.cursor-zoomin { cursor: -webkit-zoom-in !important; cursor: zoom-in !important; }
.cursor-zoomout { cursor: -webkit-zoom-out !important; cursor: zoom-out !important; }
.cursor-grab { cursor: -webkit-grab !important; cursor: grab !important; }
.cursor-grabbing { cursor: -webkit-grabbing !important; cursor: grabbing !important; }
.cursor-progress { cursor: progress !important; }
.cursor-verticaltext { cursor: vertical-text !important; }
.cursor-cell { cursor: cell !important; }
.cursor-alias { cursor: alias !important; }
.cursor-copy { cursor: copy !important; }
.cursor-contextmenu { cursor: context-menu !important; }
.cursor-col-resize { cursor: col-resize !important; }
.cursor-row-resize { cursor: row-resize !important; }
.cursor-ns-resize { cursor: ns-resize !important; }
.cursor-ew-resize { cursor: ew-resize !important; }
.cursor-nesw-resize { cursor: nesw-resize !important; }
.cursor-nwse-resize { cursor: nwse-resize !important; }
.cursor-no-drop { cursor: no-drop !important; }
.cursor-wait { cursor: wait !important; }
.cursor-text { cursor: text !important; }
.display-inline { display: inline !important; }
.display-inlineblock { display: inline-block !important; }
.display-none { display: none !important; }
.display-block { display: block !important; }
.display-inlineflex { display: -webkit-inline-box !important; display: -ms-inline-flexbox !important; display: inline-flex !important; }
.display-inlinegrid { display: -ms-inline-grid !important; display: inline-grid !important; }
.display-table { display: table !important; }
.display-tablerow { display: table-row !important; }
.display-tablecell { display: table-cell !important; }
.display-flex { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; }
.display-grid { display: -ms-grid !important; display: grid !important; }
.fontsize-xxsmall { font-size: xx-small !important; }
.fontsize-xsmall { font-size: x-small !important; }
.fontsize-smaller { font-size: smaller !important; }
.fontsize-small { font-size: small !important; }
.fontsize-medium { font-size: medium !important; }
.fontsize-large { font-size: large !important; }
.fontsize-larger { font-size: larger !important; }
.fontsize-xlarge { font-size: x-large !important; }
.fontsize-xxlarge { font-size: xx-large !important; }
.fontweight-bold { font-weight: bold !important; }
.list-vertical {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
}
.list-horizontal {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
}
.overflow-hidden { overflow: hidden !important; }
.position-absolute { position: absolute !important; }
.position-relative { position: relative !important; }
.position-fixed { position: fixed !important; }
.position-sticky { position: sticky !important; }
.textalign-left { text-align: left !important; }
.textalign-right { text-align: right !important; }
.textalign-center { text-align: center !important; }
.textalign-end { text-align: end !important; }
.textalign-start { text-align: start !important; }
.userselect-none { -webkit-user-select: none !important; -moz-user-select: none !important; -ms-user-select: none !important; user-select: none !important; }
.height-veryveryverysmall { height: 32px !important; }
.height-veryveryminsmall { height: 48px !important; }
.height-veryverysmall { height: 64px !important; }
.height-verysmall { height: 120px !important; }
.height-minsmall { height: 150px !important; }
.height-small { height: 240px !important; }
.height-normal { height: 360px !important; }
.height-medium { height: 480px !important; }
.height-large { height: 720px !important; }
.height-minlarge { height: 800px !important; }
.height-verylarge { height: 960px !important; }
.height-veryverylarge { height: 1000px !important; }
.height-veryveryminlarge { height: 1080px !important; }
.height-veryveryverylarge { height: 1200px !important; }
.width-veryveryverysmall { width: 32px !important; }
.width-veryveryminsmall { width: 48px !important; }
.width-veryverysmall { width: 64px !important; }
.width-verysmall { width: 120px !important; }
.width-minsmall { width: 150px !important; }
.width-small { width: 240px !important; }
.width-normal { width: 360px !important; }
.width-medium { width: 480px !important; }
.width-large { width: 720px !important; }
.width-minlarge { width: 800px !important; }
.width-verylarge { width: 960px !important; }
.width-veryverylarge { width: 1000px !important; }
.width-veryveryminlarge { width: 1080px !important; }
.width-veryveryverylarge { width: 1200px !important; }
.height-0percent { height: 0% !important; }
.height-1percent { height: 1% !important; }
.height-2percent { height: 2% !important; }
.height-3percent { height: 3% !important; }
.height-4percent { height: 4% !important; }
.height-5percent { height: 5% !important; }
.height-6percent { height: 6% !important; }
.height-7percent { height: 7% !important; }
.height-8percent { height: 8% !important; }
.height-9percent { height: 9% !important; }
.height-10percent { height: 10% !important; }
.height-11percent { height: 11% !important; }
.height-12percent { height: 12% !important; }
.height-13percent { height: 13% !important; }
.height-14percent { height: 14% !important; }
.height-15percent { height: 15% !important; }
.height-16percent { height: 16% !important; }
.height-17percent { height: 17% !important; }
.height-18percent { height: 18% !important; }
.height-19percent { height: 19% !important; }
.height-20percent { height: 20% !important; }
.height-21percent { height: 21% !important; }
.height-22percent { height: 22% !important; }
.height-23percent { height: 23% !important; }
.height-24percent { height: 24% !important; }
.height-25percent { height: 25% !important; }
.height-26percent { height: 26% !important; }
.height-27percent { height: 27% !important; }
.height-28percent { height: 28% !important; }
.height-29percent { height: 29% !important; }
.height-30percent { height: 30% !important; }
.height-31percent { height: 31% !important; }
.height-32percent { height: 32% !important; }
.height-33percent { height: 33% !important; }
.height-34percent { height: 34% !important; }
.height-35percent { height: 35% !important; }
.height-36percent { height: 36% !important; }
.height-37percent { height: 37% !important; }
.height-38percent { height: 38% !important; }
.height-39percent { height: 39% !important; }
.height-40percent { height: 40% !important; }
.height-41percent { height: 41% !important; }
.height-42percent { height: 42% !important; }
.height-43percent { height: 43% !important; }
.height-44percent { height: 44% !important; }
.height-45percent { height: 45% !important; }
.height-46percent { height: 46% !important; }
.height-47percent { height: 47% !important; }
.height-48percent { height: 48% !important; }
.height-49percent { height: 49% !important; }
.height-50percent { height: 50% !important; }
.height-51percent { height: 51% !important; }
.height-52percent { height: 52% !important; }
.height-53percent { height: 53% !important; }
.height-54percent { height: 54% !important; }
.height-55percent { height: 55% !important; }
.height-56percent { height: 56% !important; }
.height-57percent { height: 57% !important; }
.height-58percent { height: 58% !important; }
.height-59percent { height: 59% !important; }
.height-60percent { height: 60% !important; }
.height-61percent { height: 61% !important; }
.height-62percent { height: 62% !important; }
.height-63percent { height: 63% !important; }
.height-64percent { height: 64% !important; }
.height-65percent { height: 65% !important; }
.height-66percent { height: 66% !important; }
.height-67percent { height: 67% !important; }
.height-68percent { height: 68% !important; }
.height-69percent { height: 69% !important; }
.height-70percent { height: 70% !important; }
.height-71percent { height: 71% !important; }
.height-72percent { height: 72% !important; }
.height-73percent { height: 73% !important; }
.height-74percent { height: 74% !important; }
.height-75percent { height: 75% !important; }
.height-76percent { height: 76% !important; }
.height-77percent { height: 77% !important; }
.height-78percent { height: 78% !important; }
.height-79percent { height: 79% !important; }
.height-80percent { height: 80% !important; }
.height-81percent { height: 81% !important; }
.height-82percent { height: 82% !important; }
.height-83percent { height: 83% !important; }
.height-84percent { height: 84% !important; }
.height-85percent { height: 85% !important; }
.height-86percent { height: 86% !important; }
.height-87percent { height: 87% !important; }
.height-88percent { height: 88% !important; }
.height-89percent { height: 89% !important; }
.height-90percent { height: 90% !important; }
.height-91percent { height: 91% !important; }
.height-92percent { height: 92% !important; }
.height-93percent { height: 93% !important; }
.height-94percent { height: 94% !important; }
.height-95percent { height: 95% !important; }
.height-96percent { height: 96% !important; }
.height-97percent { height: 97% !important; }
.height-98percent { height: 98% !important; }
.height-99percent { height: 99% !important; }
.height-100percent { height: 100% !important; }
.margin-0percent { margin: 0% !important; }
.margin-1percent { margin: 1% !important; }
.margin-2percent { margin: 2% !important; }
.margin-3percent { margin: 3% !important; }
.margin-4percent { margin: 4% !important; }
.margin-5percent { margin: 5% !important; }
.margin-6percent { margin: 6% !important; }
.margin-7percent { margin: 7% !important; }
.margin-8percent { margin: 8% !important; }
.margin-9percent { margin: 9% !important; }
.margin-10percent { margin: 10% !important; }
.margin-11percent { margin: 11% !important; }
.margin-12percent { margin: 12% !important; }
.margin-13percent { margin: 13% !important; }
.margin-14percent { margin: 14% !important; }
.margin-15percent { margin: 15% !important; }
.margin-16percent { margin: 16% !important; }
.margin-17percent { margin: 17% !important; }
.margin-18percent { margin: 18% !important; }
.margin-19percent { margin: 19% !important; }
.margin-20percent { margin: 20% !important; }
.margin-21percent { margin: 21% !important; }
.margin-22percent { margin: 22% !important; }
.margin-23percent { margin: 23% !important; }
.margin-24percent { margin: 24% !important; }
.margin-25percent { margin: 25% !important; }
.margin-26percent { margin: 26% !important; }
.margin-27percent { margin: 27% !important; }
.margin-28percent { margin: 28% !important; }
.margin-29percent { margin: 29% !important; }
.margin-30percent { margin: 30% !important; }
.margin-31percent { margin: 31% !important; }
.margin-32percent { margin: 32% !important; }
.margin-33percent { margin: 33% !important; }
.margin-34percent { margin: 34% !important; }
.margin-35percent { margin: 35% !important; }
.margin-36percent { margin: 36% !important; }
.margin-37percent { margin: 37% !important; }
.margin-38percent { margin: 38% !important; }
.margin-39percent { margin: 39% !important; }
.margin-40percent { margin: 40% !important; }
.margin-41percent { margin: 41% !important; }
.margin-42percent { margin: 42% !important; }
.margin-43percent { margin: 43% !important; }
.margin-44percent { margin: 44% !important; }
.margin-45percent { margin: 45% !important; }
.margin-46percent { margin: 46% !important; }
.margin-47percent { margin: 47% !important; }
.margin-48percent { margin: 48% !important; }
.margin-49percent { margin: 49% !important; }
.margin-50percent { margin: 50% !important; }
.margin-51percent { margin: 51% !important; }
.margin-52percent { margin: 52% !important; }
.margin-53percent { margin: 53% !important; }
.margin-54percent { margin: 54% !important; }
.margin-55percent { margin: 55% !important; }
.margin-56percent { margin: 56% !important; }
.margin-57percent { margin: 57% !important; }
.margin-58percent { margin: 58% !important; }
.margin-59percent { margin: 59% !important; }
.margin-60percent { margin: 60% !important; }
.margin-61percent { margin: 61% !important; }
.margin-62percent { margin: 62% !important; }
.margin-63percent { margin: 63% !important; }
.margin-64percent { margin: 64% !important; }
.margin-65percent { margin: 65% !important; }
.margin-66percent { margin: 66% !important; }
.margin-67percent { margin: 67% !important; }
.margin-68percent { margin: 68% !important; }
.margin-69percent { margin: 69% !important; }
.margin-70percent { margin: 70% !important; }
.margin-71percent { margin: 71% !important; }
.margin-72percent { margin: 72% !important; }
.margin-73percent { margin: 73% !important; }
.margin-74percent { margin: 74% !important; }
.margin-75percent { margin: 75% !important; }
.margin-76percent { margin: 76% !important; }
.margin-77percent { margin: 77% !important; }
.margin-78percent { margin: 78% !important; }
.margin-79percent { margin: 79% !important; }
.margin-80percent { margin: 80% !important; }
.margin-81percent { margin: 81% !important; }
.margin-82percent { margin: 82% !important; }
.margin-83percent { margin: 83% !important; }
.margin-84percent { margin: 84% !important; }
.margin-85percent { margin: 85% !important; }
.margin-86percent { margin: 86% !important; }
.margin-87percent { margin: 87% !important; }
.margin-88percent { margin: 88% !important; }
.margin-89percent { margin: 89% !important; }
.margin-90percent { margin: 90% !important; }
.margin-91percent { margin: 91% !important; }
.margin-92percent { margin: 92% !important; }
.margin-93percent { margin: 93% !important; }
.margin-94percent { margin: 94% !important; }
.margin-95percent { margin: 95% !important; }
.margin-96percent { margin: 96% !important; }
.margin-97percent { margin: 97% !important; }
.margin-98percent { margin: 98% !important; }
.margin-99percent { margin: 99% !important; }
.margin-100percent { margin: 100% !important; }
.padding-0percent { padding: 0% !important; }
.padding-1percent { padding: 1% !important; }
.padding-2percent { padding: 2% !important; }
.padding-3percent { padding: 3% !important; }
.padding-4percent { padding: 4% !important; }
.padding-5percent { padding: 5% !important; }
.padding-6percent { padding: 6% !important; }
.padding-7percent { padding: 7% !important; }
.padding-8percent { padding: 8% !important; }
.padding-9percent { padding: 9% !important; }
.padding-10percent { padding: 10% !important; }
.padding-11percent { padding: 11% !important; }
.padding-12percent { padding: 12% !important; }
.padding-13percent { padding: 13% !important; }
.padding-14percent { padding: 14% !important; }
.padding-15percent { padding: 15% !important; }
.padding-16percent { padding: 16% !important; }
.padding-17percent { padding: 17% !important; }
.padding-18percent { padding: 18% !important; }
.padding-19percent { padding: 19% !important; }
.padding-20percent { padding: 20% !important; }
.padding-21percent { padding: 21% !important; }
.padding-22percent { padding: 22% !important; }
.padding-23percent { padding: 23% !important; }
.padding-24percent { padding: 24% !important; }
.padding-25percent { padding: 25% !important; }
.padding-26percent { padding: 26% !important; }
.padding-27percent { padding: 27% !important; }
.padding-28percent { padding: 28% !important; }
.padding-29percent { padding: 29% !important; }
.padding-30percent { padding: 30% !important; }
.padding-31percent { padding: 31% !important; }
.padding-32percent { padding: 32% !important; }
.padding-33percent { padding: 33% !important; }
.padding-34percent { padding: 34% !important; }
.padding-35percent { padding: 35% !important; }
.padding-36percent { padding: 36% !important; }
.padding-37percent { padding: 37% !important; }
.padding-38percent { padding: 38% !important; }
.padding-39percent { padding: 39% !important; }
.padding-40percent { padding: 40% !important; }
.padding-41percent { padding: 41% !important; }
.padding-42percent { padding: 42% !important; }
.padding-43percent { padding: 43% !important; }
.padding-44percent { padding: 44% !important; }
.padding-45percent { padding: 45% !important; }
.padding-46percent { padding: 46% !important; }
.padding-47percent { padding: 47% !important; }
.padding-48percent { padding: 48% !important; }
.padding-49percent { padding: 49% !important; }
.padding-50percent { padding: 50% !important; }
.padding-51percent { padding: 51% !important; }
.padding-52percent { padding: 52% !important; }
.padding-53percent { padding: 53% !important; }
.padding-54percent { padding: 54% !important; }
.padding-55percent { padding: 55% !important; }
.padding-56percent { padding: 56% !important; }
.padding-57percent { padding: 57% !important; }
.padding-58percent { padding: 58% !important; }
.padding-59percent { padding: 59% !important; }
.padding-60percent { padding: 60% !important; }
.padding-61percent { padding: 61% !important; }
.padding-62percent { padding: 62% !important; }
.padding-63percent { padding: 63% !important; }
.padding-64percent { padding: 64% !important; }
.padding-65percent { padding: 65% !important; }
.padding-66percent { padding: 66% !important; }
.padding-67percent { padding: 67% !important; }
.padding-68percent { padding: 68% !important; }
.padding-69percent { padding: 69% !important; }
.padding-70percent { padding: 70% !important; }
.padding-71percent { padding: 71% !important; }
.padding-72percent { padding: 72% !important; }
.padding-73percent { padding: 73% !important; }
.padding-74percent { padding: 74% !important; }
.padding-75percent { padding: 75% !important; }
.padding-76percent { padding: 76% !important; }
.padding-77percent { padding: 77% !important; }
.padding-78percent { padding: 78% !important; }
.padding-79percent { padding: 79% !important; }
.padding-80percent { padding: 80% !important; }
.padding-81percent { padding: 81% !important; }
.padding-82percent { padding: 82% !important; }
.padding-83percent { padding: 83% !important; }
.padding-84percent { padding: 84% !important; }
.padding-85percent { padding: 85% !important; }
.padding-86percent { padding: 86% !important; }
.padding-87percent { padding: 87% !important; }
.padding-88percent { padding: 88% !important; }
.padding-89percent { padding: 89% !important; }
.padding-90percent { padding: 90% !important; }
.padding-91percent { padding: 91% !important; }
.padding-92percent { padding: 92% !important; }
.padding-93percent { padding: 93% !important; }
.padding-94percent { padding: 94% !important; }
.padding-95percent { padding: 95% !important; }
.padding-96percent { padding: 96% !important; }
.padding-97percent { padding: 97% !important; }
.padding-98percent { padding: 98% !important; }
.padding-99percent { padding: 99% !important; }
.padding-100percent { padding: 100% !important; }
.width-0percent { width: 0% !important; }
.width-1percent { width: 1% !important; }
.width-2percent { width: 2% !important; }
.width-3percent { width: 3% !important; }
.width-4percent { width: 4% !important; }
.width-5percent { width: 5% !important; }
.width-6percent { width: 6% !important; }
.width-7percent { width: 7% !important; }
.width-8percent { width: 8% !important; }
.width-9percent { width: 9% !important; }
.width-10percent { width: 10% !important; }
.width-11percent { width: 11% !important; }
.width-12percent { width: 12% !important; }
.width-13percent { width: 13% !important; }
.width-14percent { width: 14% !important; }
.width-15percent { width: 15% !important; }
.width-16percent { width: 16% !important; }
.width-17percent { width: 17% !important; }
.width-18percent { width: 18% !important; }
.width-19percent { width: 19% !important; }
.width-20percent { width: 20% !important; }
.width-21percent { width: 21% !important; }
.width-22percent { width: 22% !important; }
.width-23percent { width: 23% !important; }
.width-24percent { width: 24% !important; }
.width-25percent { width: 25% !important; }
.width-26percent { width: 26% !important; }
.width-27percent { width: 27% !important; }
.width-28percent { width: 28% !important; }
.width-29percent { width: 29% !important; }
.width-30percent { width: 30% !important; }
.width-31percent { width: 31% !important; }
.width-32percent { width: 32% !important; }
.width-33percent { width: 33% !important; }
.width-34percent { width: 34% !important; }
.width-35percent { width: 35% !important; }
.width-36percent { width: 36% !important; }
.width-37percent { width: 37% !important; }
.width-38percent { width: 38% !important; }
.width-39percent { width: 39% !important; }
.width-40percent { width: 40% !important; }
.width-41percent { width: 41% !important; }
.width-42percent { width: 42% !important; }
.width-43percent { width: 43% !important; }
.width-44percent { width: 44% !important; }
.width-45percent { width: 45% !important; }
.width-46percent { width: 46% !important; }
.width-47percent { width: 47% !important; }
.width-48percent { width: 48% !important; }
.width-49percent { width: 49% !important; }
.width-50percent { width: 50% !important; }
.width-51percent { width: 51% !important; }
.width-52percent { width: 52% !important; }
.width-53percent { width: 53% !important; }
.width-54percent { width: 54% !important; }
.width-55percent { width: 55% !important; }
.width-56percent { width: 56% !important; }
.width-57percent { width: 57% !important; }
.width-58percent { width: 58% !important; }
.width-59percent { width: 59% !important; }
.width-60percent { width: 60% !important; }
.width-61percent { width: 61% !important; }
.width-62percent { width: 62% !important; }
.width-63percent { width: 63% !important; }
.width-64percent { width: 64% !important; }
.width-65percent { width: 65% !important; }
.width-66percent { width: 66% !important; }
.width-67percent { width: 67% !important; }
.width-68percent { width: 68% !important; }
.width-69percent { width: 69% !important; }
.width-70percent { width: 70% !important; }
.width-71percent { width: 71% !important; }
.width-72percent { width: 72% !important; }
.width-73percent { width: 73% !important; }
.width-74percent { width: 74% !important; }
.width-75percent { width: 75% !important; }
.width-76percent { width: 76% !important; }
.width-77percent { width: 77% !important; }
.width-78percent { width: 78% !important; }
.width-79percent { width: 79% !important; }
.width-80percent { width: 80% !important; }
.width-81percent { width: 81% !important; }
.width-82percent { width: 82% !important; }
.width-83percent { width: 83% !important; }
.width-84percent { width: 84% !important; }
.width-85percent { width: 85% !important; }
.width-86percent { width: 86% !important; }
.width-87percent { width: 87% !important; }
.width-88percent { width: 88% !important; }
.width-89percent { width: 89% !important; }
.width-90percent { width: 90% !important; }
.width-91percent { width: 91% !important; }
.width-92percent { width: 92% !important; }
.width-93percent { width: 93% !important; }
.width-94percent { width: 94% !important; }
.width-95percent { width: 95% !important; }
.width-96percent { width: 96% !important; }
.width-97percent { width: 97% !important; }
.width-98percent { width: 98% !important; }
.width-99percent { width: 99% !important; }
.width-100percent { width: 100% !important; }