* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    #sidebar.active {
        left: 0;
    }
}
.main-content {
    display: none;
    height: 100%;
}